body {
  background-color: #000;
  height: 100%;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#BFF128;
  font-family: 'Staatliches', cursive;
}